.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
}

.heading {
  color: rebeccapurple;
  padding: 10px;
  margin-left: 10px;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
  border:2px solid rgb(126, 111, 111);
  padding: 10px;
  margin-left: 20px;
  
}
.nav-link-text {
  color: black;
}
/* ... your existing styles */

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 15px;
}
.content{
  margin-left: 20px;
}